<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">

  <title>Vue CRUD</title>
</head>
<body>

  <div id="app">
    <div class="header">

      <button type="button" @click="newItem()">Add New Item</button>

      <select v-model="sort" v-on:change="sortFn()">
        <option value="0" selected >All</option>
        <option v-for="type in prTypes" :value="type.id">

          {{type.name_uz}}

        </option>
      </select>

      <select v-model="perPage" v-on:change="perPageFn()">
        <option value="2" selected>per page 2</option>
        <option value="3">3</option>
        <option value="5">5</option>
      </select>

    </div> <!-- header -->

    <table>
      <thead>
        <tr>
          <td>Id:</td>
          <td>Type:</td>
          <td>Name:</td>
          <td>Cost:</td>
          <td>Address:</td>
          <td>Created at:</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="d in data">
          <td>{{ d.id }}</td>
          <td>{{ d.product_type_id }}</td>
          <td>{{ d.name_uz }}</td>
          <td>{{ d.cost }}</td>
          <td>{{ d.address }}</td>
          <td>{{ new Date(d.created_date * 1000) }}</td>
          <td>
            <button class="editBtn" @click="editBtn(d)">Edit</button>
          </td>
          <td>
            <button class="deleteBtn" @click="deleteBtn(d.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ul class="pagination-list" v-if="sort == 0">
      <li class="pagination-item" v-for="i in dataLength" :key="i">
        <button v-on:click="pgClick(i)">{{i}}</button>
      </li>
    </ul>

    <ul class="pagination-list" v-else>
      <li class="pagination-item" v-for="i in filteredDataLength" :key="i">
        <button v-on:click="pgClickSort(i)">{{i}}</button>
      </li>
    </ul>


    <div class="modal" :class="{active: isActiveModal}">
      <div class="modal__dialog">

        <button class="exitBtn" type="button" @click="exit()">X</button>

        <div class="modal__content">

          <select class="modal__content-item" v-model="selectedTypeId">
            <option value="0" selected disabled>Select type</option>
            <option v-for="type in prTypes" :value="type.id">

              {{type.name_uz}}

            </option>
          </select>
          <input class="modal__content-item" type="text" v-model="name" placeholder="name">
          <input class="modal__content-item" type="number" v-model="cost" placeholder="cost">
          <input class="modal__content-item" type="text" v-model="address" placeholder="address">

          <button class="modal__content-item" type="button" @click="createItem()" v-if="id == null"> Create </button>
          <button class="modal__content-item" type="button" @click="editItem()" v-else> Edit </button>
          <button class="modal__content-item" type="button" @click="exit()"> Cancel </button>

          <p class="resData" style="height: 20px;">{{ resData }}</p>

        </div>
      </div>
    </div>


    <div class="modal-delete" :class="{active: isDeleteActiveModal}" @click="exit()">
      <div class="modal-delete__dialog">

        <button class="exitBtnDelete" type="button" @click="exit()">X</button>

        <div class="modal-delete__content">
          <h2>Do you want to delete id is {{ id }}?</h2>
          <ul>
            <li>
              <button type="button" @click="deleteBtnYes()">Yes</button>
            </li>

            <li>
              <button type="button" @click="exit()">No</button>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./var.js"></script>
  <script src="./app.js"></script>

</body>
</html>